
.dataTable-wrapper .dataTable-top {
    padding: 1.5rem;
  }
  
  .dataTable-wrapper .dataTable-top .dataTable-dropdown {
    float: left;
  }
  
  /* Style the dropdown */
  .dataTable-wrapper .dataTable-top .dataTable-dropdown label {
    margin-bottom: 0;
    margin-left: 0;
    color: #8392ab;
    font-weight: 400;
  }
  
  /* Style the selector input */
  .dataTable-wrapper .dataTable-top .dataTable-dropdown label .dataTable-selector {
    border-color: #e9ecef;
    border-radius: 0.25rem;
  }
  
  /* Styling for search input */
  .dataTable-wrapper .dataTable-top .dataTable-search input {
    font-size: 0.875rem;
    color: #495057;
    border: 1px solid #e9ecef;
    border-radius: 0.5rem;
  }
  
  .dataTable-wrapper .dataTable-top .dataTable-search input:focus-visible {
    outline: none;
  }
  
  /* Styling for table header */
  .dataTable-wrapper .dataTable-container .table thead tr th {
    padding: 0.75rem 1.5rem;
    opacity: 0.7;
    font-weight: bolder;
    color: #8392ab;
    text-transform: uppercase;
    font-size: 0.65rem;
  }
  
  /* Styling for table body */
  .dataTable-wrapper .dataTable-container .table tbody tr td {
    padding: 0.75rem 1.5rem;
  }
  
  /* Styling for the bottom section */
  .dataTable-wrapper .dataTable-bottom {
    padding: 1.5rem;
    padding-top: 0;
  }
  
  .dataTable-wrapper .dataTable-bottom .dataTable-info {
    color: #8392ab;
    font-size: 0.875rem;
  }
  
  /* Styling for pagination buttons */
  .dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8392ab;
    padding: 0;
    margin: 0 3px;
    border: 1px solid #dee2e6;
    border-radius: 50% !important;
    width: 36px;
    height: 36px;
    font-size: 0.875rem;
    margin-left: 0;
  }
  
  .dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list li a:hover {
    background: #e9ecef;
  }
  
  .dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list .active a {
    background: transparent;
    background-image: linear-gradient(310deg, #9ACD32, #2E8B57);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    color: #fff;
    border: none;
    border-radius: 50% !important;
  }
  
  .dataTable-wrapper .dataTable-bottom .dataTable-pagination .dataTable-pagination-list .active a:hover {
    background-image: linear-gradient(310deg, #9ACD32, #2E8B57);
  }
  
  .dataTable-wrapper.no-footer .dataTable-container {
    border-bottom: 0;
  }
  
  /* Styling for table elements to align them vertically */
  .dataTable-table tbody td,
  .dataTable-table tbody th,
  .dataTable-table tfoot td,
  .dataTable-table tfoot th,
  .dataTable-table thead td,
  .dataTable-table thead th {
    vertical-align: middle !important;
  }
  
  /* Ensure the table is scrollable on small screens */
  @media (max-width: 575.98px) {
    .dataTable-wrapper .dataTable-top > div:last-child {
      float: left;
      margin-top: 1rem;
    }
  
    /* Make the table container scrollable */
    .dataTable-wrapper .dataTable-container {
      overflow-x: auto;  /* Allow horizontal scrolling */
    }
  
    /* Modify padding for small screens */
    .dataTable-wrapper .dataTable-top,
    .dataTable-wrapper .dataTable-bottom {
      padding: 1rem;  /* Reduce padding on smaller screens */
    }
  
    /* Make the dropdown labels and inputs stack */
    .dataTable-wrapper .dataTable-top .dataTable-dropdown,
    .dataTable-wrapper .dataTable-top .dataTable-search {
      float: none;
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .dataTable-wrapper .dataTable-top .dataTable-dropdown label,
    .dataTable-wrapper .dataTable-top .dataTable-search label {
      width: 100%;
    }
  }


  .form-select-lg, .form-select-sm {
    padding-left: 0.75rem;
    border-radius: 0.5rem;
}
.form-select-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
}